@model OnlineJokes.Models.JokesCategory

@{
    //Layout = null;
}
<meta name="viewport" content="width=device-width"/>
<title>Create</title>

<style>
    .b-box {
        background-color: #faf8f3;
        border: 1px steelblue;
        border-radius: 25px;
        box-shadow: 0px 0px 20px #d8d4d4;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 41px;
    }
    .bbt {
        width: 12%;
    }
    .button_design {
        text-align: center;
        margin-top: 15px;
    } 
    .warning {
        border-radius: 9px;
        box-shadow: -1px 4px 1px 1px #34404c;
        font-weight: 400;
        margin-bottom: 11px;
        padding: 10px;
        text-align: center;
        width: 28em;
    }
    .error { color: red; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12 b-box">
            <center>
                @if (ViewBag.Message != null)
                {
                    <div class="warning" style="background-color: #46e86d;" id="warningLabel">
                        <label>@ViewBag.Message</label>
                    </div>
                }
            </center>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post, new {name = "insertForm", id = "insertForm", enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <center>
                        <h3 style="margin-bottom: 25px; font-family: Monoton;">Add New Category</h3>
                    </center>
                    @Html.ValidationSummary(true)
                    <div class="form-group row">
                        <div class="col-md-2"> </div>
                        @Html.LabelFor(model => model.CategoryName, new {@class = "control-label col-md-2"})
                        <div class="col-md-5">
                            <input type="text" name="CategoryName" value="" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 button_design">
                            <input type="submit" value="Create" class="btn btn-info bbt"/>
                            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning bbt" })
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


